[package]
name = "mnist"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.102"
clap = { version = "4.5.60", features = ["derive"] }
ndarray = "0.17.2"
rand = "0.10.0"
thiserror = "2.0.18"
